.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

mat-card {
    width: 300px;
    height: 100%;
}

mat-card-header {
    background-color: crimson;
    padding: 0.5em;
    margin: 0;
}

mat-card-title {
    padding-top: 0.5em;
    color: #FFF;
}

mat-form-field {
    width: 100%;
    padding-top: 1em;
}

mat-card-actions {
    padding-left: 0.3em;
}

.register {
    font-weight: 500;
    color: blueviolet;
    cursor: pointer;
    text-decoration: none;
    padding-left: 1em;
}

.mat-card-actions, .mat-card-content, .mat-card-subtitle {
    display: block;
    margin-bottom: 0;
}
