mat-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
}

mat-card-header {
    background-color: crimson;
    padding: 0.5em;
    margin: 0;
}

mat-card-title {
    padding-top: 0.5em;
    color: #FFF;
}

mat-form-field {
    width: 100%;
    padding-top: 1em;
}

mat-card-actions button {
    width: 100%;
    padding: 0.5em;
}

.register span {
    font-weight: 500;
    color: blueviolet;
    cursor: pointer;
}