<div class="container">
    <mat-card>
        <mat-card-header color="accent">
            <mat-card-title>Signin</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="content">
                <form [formGroup]="loginForm">
                    <mat-form-field>
                        <input matInput placeholder="Enter your email" formControlName="email">
                        <!-- <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error> -->
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Username" formControlName="username">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Password" formControlName="password">
                    </mat-form-field>
                </form>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary">Login</button>
        </mat-card-actions>

        <div class="register">
            <p>No Account?
                <span>
                    <a routerLink="" (click)="goRegister()">Register</a>
                </span>
            </p>
        </div>
    </mat-card>
</div>